%button{
    background-color: rgb(231, 172, 8);
        padding: 10px 17px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        transition: 0,5s;
        &:hover{
            background-color: rgb(200, 80, 148);
        }
}
%select{
    background-color: rgb(231, 172, 8);
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    transition: 0,5s;
    &:hover{
        background-color:  rgb(200, 80, 148);
    }
}