.navegador{
    background-color:$bg-color;
    .fa-bars{
        display: none;
        @media(max-width:768px){
                margin: 5px;
                font-size: 35px;
                color: azure ;
                display: block;
            }
    }
    ul{
        list-style: none;
        display: flex;
        li a{
            color: azure;
            text-decoration: none;
            display: block;
            padding: 10px 10px;
            font-size: 20px;
            font-family: 'Bebas Neue', sans-serif;
            @media(max-width:768px){
                color: azure;
            }  
        }
        @media(max-width:768px){
            position: absolute;
            left: -290px;
            width: 220px;
            height: 75vh;
            background-color: $bg-color;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            transition: 0.7s;
            border-radius: 10px;
            border: 3px solid #0f0d0d;
            z-index: 4;
    
        }
        &:hover{
            @media(max-width:768px){
                left: 0;
            }
        }
    }
}
@media(max-width:768px){

    .navegador .fa-bars:hover + ul {
        left: 0;
    }
}

.tienda{
    color: rgb(231, 172, 8);
    background-color: $bg-color;
    text-align: center;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    text-shadow:$sombreado;
}