.pie-de-pagina{
    background-color: $bg-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-template-columns:repeat(
        auto-fit,minmax(150px, 1fr)

    ); 
    gap: 32px;
    .tienda{
        color: rgb(231, 172, 8);
        background-color: $bg-color;
        text-align: center;
        font-size: 60px;
        font-family: 'Lobster', cursive;
        text-shadow:$sombreado;
        padding-left: 20px;
    }
    .datos{
        font-size: 20px;
        color: azure;
        display: block;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
    
    }
    
    .logo-insta{
        width: 50px;
        height: 50px;
        border: 5px solid #040202;
        border-radius: 15px;
        box-shadow: $shadowm;
    }
    .logo-face{
        width: 50px;
        height: 50px;
        border: 5px solid #040202;
        border-radius: 15px;
        background-color: white;
        box-shadow: $shadowm;
    
    }
    .logo-twitter{
        width: 50px;
        height: 50px;
        border: 5px solid #040202;
        border-radius: 15px;
        box-shadow: $shadowm;
        
    }

}